* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

/* header section */
.header {
  background-color: #f4f4f2;
  white-space: nowrap;
  padding: 0.55rem;
  color: black;
  justify-content: space-between;
  display: flex;
}

.header-links {
  background-color: #f4f4f2;
  white-space: nowrap;
  color: black;
  justify-content: space-between;
  display: flex;
}

.header-logins {
  background-color: #f4f4f2;
  white-space: nowrap;
  color: black;
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 1.5rem;
}

.header-title {
  font-weight: 700;
  margin-left: 0.25rem;
  margin-right: 5px;
  color: black;
  text-decoration: none;
  font-size: 2rem;
}

.header-link {
  margin-left: 0.2rem;
  color: black;
  text-decoration: none;
  font-size: 1rem;
}

.header-link-logout {
  margin-left: 0.2rem;
  color: black;
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: underline;
  font-weight: bolder;
}

.header-name {
  color: black;
  text-decoration: none;
}

.divider {
  margin-left: 0.25rem;
  color: black;
}

.divider-logout {
  margin-left: 0.25rem;
  color: black;
}

.flex-row {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1.5rem;
}

.logo {
  width: 6rem;
  height: 6rem;
  border: 1px solid white;
  margin: 0;
  border-radius: 50%;
}

/* Login Section */
.login-section {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-title {
  padding: 0.55rem;
}

input {
  width: 50rem;
  padding: 0.55rem;
  margin: 0.55rem;
  border-radius: 20px;
}

:focus-visible {
  outline: none;
}

.submit-button {
  border-radius: 20px;
  padding: 0.55rem;
  margin-top: 1rem;
  pointer-events: visible;
  cursor: pointer;
  background: white;
  margin: 0.3rem;
  width: 17rem;
}
.submit-button:hover {
  background-color: #f4f4f2;
}
.account-button {
  border-radius: 20px;
  padding: 0.55rem;
  margin-top: 1rem;
  pointer-events: visible;
  cursor: pointer;
  color: white;
  background-color: rgba(0, 0, 0, 0.644);
  margin: 0.3rem;
  width: 17rem;
}
.account-button:hover {
  background: rgb(0, 0, 0);
}
.forgot-password {
  padding: 1em 0;
  text-decoration: none;
}

a:-webkit-any-link {
  color: black;
  cursor: pointer;
  text-decoration: underline;
}
/* Errors section */
.error-input {
  border: 2px solid red;
  border-radius: 20px;
}

.error-text {
  margin: 0.25em 0 0.5em 0;
  padding: 0;
  color: red;
  font-style: bold;
}
